@model List<KoiCareSystem.Models.WaterParameter>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koi Fish Project</title>
    <link rel="stylesheet" href="~/css/index-themthongsoho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <div id="header-top">
                <p id="sodienthoai">
                    <i class="fas fa-phone-alt"></i> Call: 0989-522-125
                </p>
                <div id="social">
                    <a href="https://www.facebook.com/Quangonkoi/" id="fb"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/quang.koi.nht" id="ig"><i class="fa-brands fa-tiktok"></i></a>
                    <a href=" https://www.youtube.com/OnkoiQuangMinh" id="yt"><i class="fab fa-youtube"></i></a>
                    <a href=" https://x.com/onkoivn" id="tw"><i class="fab fa-twitter"></i></a>
                </div>
                <a id="dieukhoanchinhsach" href="#">
                    <i class="fas fa-file-alt"></i> Chính sách điều khoản
                </a>
                <div id="dangnhapdangki">
                    <a id="dangnhap" <li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
    </li><i class="fas fa-sign-in-alt"></i></a> |
                    <a id="dangki" <li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Create">Đăng ký</a>
    </li><i class="fas fa-user-plus"></i></a>
                </div>
            </div>
            <div id="header-main-container">
                <img src="~/images/logo koi care system.png" alt="logo">

                <form id="search">
                    <input type="text" placeholder="Bạn muốn tìm gì?">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div id="test">
                    <ul id="nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li>

                            <a id="dichvu" href="#">Dịch vụ</a>
                            <ul class="subnav">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Aquarium" asp-action="Index">Danh sách hồ</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Koi" asp-action="Index">Danh sách cá Koi</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FoodCalculator" asp-action="Calculate">Tính toán lượng thức ăn</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SaltCalculator" asp-action="Calculate">Tính toán lượng muối</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="WaterParameters" asp-action="Index">Thông số nước</a>
                                </li>

                            </ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CaKoiNhat" asp-action="Index">Cá Koi Nhật</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sanpham" asp-action="Index">Sản phẩm</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Tin tức</a>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Lienhe" asp-action="Index">Liên hệ</a>
                        </li>
                    </ul>

                </div>

            </div>
            <!-- phần content -->
            <div class="container">
                <div class="title-header">
                    <a asp-controller="Home" asp-action="Index" style="text-decoration: none; color: white;margin-left:-200px;">Trang chủ</a>
                    <p> > Dịch vụ > Thêm thông số hồ</p>
                </div>
                <h1 class="title">Thêm thông số hồ</h1>
                <button class="btn-add"><a asp-controller="Waterparameters" asp-action="Create">Thêm thông số nước mới</a></button>
                <h2 class="sub-title">Danh Sách Thông Số Nước</h2>
                <table class="pond-table">
                    <thead>
                        <tr>
                            <th>Mã thông số</th>
                            <th>Nhiệt độ</th>
                            <th>Muối</th>
                            <th>pH</th>
                            <th>Oxy</th>
                            <th>Nitrit</th>
                            <th>Nitrat</th>
                            <th>Phosphat</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var wp in Model)
                        {
                            <tr>
                                <td>@wp.Id</td>
                                <td>@wp.Temperature</td>
                                <td>@wp.Salt</td>
                                <td>@wp.PH</td>
                                <td>@wp.Oxygen</td>
                                <td>@wp.Nitrit</td>
                                <td>@wp.Nitrat</td>
                                <td>@wp.Phosphat</td>
                                <td>
                                    <a href="/WaterParameters/Edit/@wp.Id" class="edit">Sửa</a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>



</body>
</html>



